:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424 !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#app {
  margin: 0 auto;
  text-align: center;
  padding: 3%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0.5em;
}
button:hover {
  border-color: #646cff;
}
button:disabled, button[disabled] {
  cursor: default;
  opacity: 0.5;
  border-color: transparent;
}
button.chosen {
  border-color: #2f32ee;
}

input {
  border-radius: 8px;
  border: 1px solid #1a1a1a;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin-block: 0.2em;
}

table {
  border-collapse: collapse;
  width: 90vw;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
background-color: #121212;
}

tr:nth-child(even) {
background-color: #1a1a1a;
}